/* intento de normaliar igual hay uno con el normalize fino 10/10*/
*{
margin:0 auto;
padding:0 auto;
font-family: 'Rubik', sans-serif;
box-sizing: border-box;
}





body{
    background-color: white;
    color: black;
    

}

/* cambio del logo con hover */
.brand-logo
{

position: relative;
display: inline-block;
margin-top:0 auto;
}

.brand-logo .next{
display: none;
position: absolute;
top:0;
left:0;
z-index: -1;
}

.brand-logo:hover{
    visibility: hidden;
}



 .brand-logo:hover .next{

    display: inline;
    visibility:visible;
    
}
/*dark mode*/
.dark-mode{

    background-color: #333333;
    color:white;
}


/*swtich

.switch{

    position: relative;
    dipslay: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:  #55aaf9;
    -webkit-transition: .6s;
    transition: .6s;
}

.slider:before{

    position: absolute;
    content: "";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color: #fefefe;
    transition:.6s;
    -webkit-transition: .6s;
}

input:checked + .slider{

    background-color: #c0dee9;

}


input:focus + .slider{
    background-color: #149acb ;
}

input:checked + .slider:before{
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slide .round{
    border-radius:34px;
}
.slider.round:before{
    border-radius: 50%;
}

 */
/*pie de pagin*/

footer{
    position:fixed;
    bottom:0;
    left:0;;
    width:100%;
   
    
}


/* lineas */
.divider{

    border-top: 4px solid #0980f0;
    border-radius: 4px;
    opacity:.5;
}
